
<!DOCTYPE html>

<title>Cloud DevOps Engineer</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="//www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles/style.css')}}">
<body>
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Blue
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">Capstone Project</h1>
      <hr class="w3-border-grey">
      <p class="w3-large w3-center">Udactiy Cloud DevOps Engineer
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Powered by <a href="//www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </div>
  </div>
</body>